RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

### SETTING ROLES ###
RewriteRule ^student$ controllers/student/student.php [L]
RewriteRule ^student/([0-9]+)$ controllers/student/student.php?studentid=$1 [L]
RewriteRule ^student/active/([0-9]+)$ controllers/student/active.php?studentid=$1 [L]

RewriteRule ^teacher$ controllers/teacher/teacher.php [L]
RewriteRule ^teacher/([0-9]+)$ controllers/teacher/teacher.php?teacherid=$1 [L]
RewriteRule ^teacher/active/([0-9]+)$ controllers/teacher/active.php?teacherid=$1 [L]

RewriteRule ^staff$ controllers/staff/staff.php [L]
RewriteRule ^staff/([0-9]+)$ controllers/staff/staff.php?staffid=$1 [L]
RewriteRule ^staff/active/([0-9]+)$ controllers/staff/active.php?staffid=$1 [L]